build/
eclipse/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
.gradle/
.nb-gradle/
.nb-gradle-properties
.settings/
.classpath
.project
/config.properties
push/
.idea/modules/
.idea/shelf/
.idea/libraries/
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
*.iml
run/
private/
*.ipr
*.iws
out/
bin/
classes/
.settings
.metadata
.project
*.launch
/libs/
**/Thumbs.db
