[submodule "lang"]
	path = lang
url=https://github.com/GTNewHorizons/Railcraft-Localization.git
[submodule "api/railcraft"]
	path = api/railcraft
url=https://github.com/GTNewHorizons/Railcraft-API.git
[submodule "api/forestry"]
	path = api/forestry
url=https://github.com/GTNewHorizons/ForestryAPI.git
[submodule "api/redstoneflux"]
	path = api/redstoneflux
url=https://github.com/GTNewHorizons/RedstoneFlux-1.12-Legacy.git
[submodule "api/thaumcraft/thaumcraft/api"]
	path = api/thaumcraft/thaumcraft/api
url=https://github.com/GTNewHorizons/thaumcraft-api.git