[submodule "lang"]
	path = lang
	url = https://github.com/CovertJaguar/Railcraft-Localization.git
[submodule "api/railcraft"]
	path = api/railcraft
	url = https://github.com/CovertJaguar/Railcraft-API.git
[submodule "api/forestry"]
	path = api/forestry
	url = https://github.com/ForestryMC/ForestryAPI.git
[submodule "api/redstoneflux"]
	path = api/redstoneflux
	url = https://github.com/CoFH/RedstoneFlux-API.git
[submodule "api/thaumcraft/thaumcraft/api"]
	path = api/thaumcraft/thaumcraft/api
	url = https://github.com/Azanor/thaumcraft-api.git