# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/openjdk:8-jdk

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      JVM_OPTS: -Xmx3200m
      TERM: dumb

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
              - rm -f  .gradle/caches/modules-2/modules-2.lock
              - rm -fr .gradle/caches/*/plugin-resolution/
              - rm -f  .gradle/caches/minecraft/deobfedDeps/providedDummy.jar
              - rm -f  .gradle/caches/minecraft/deobfedDeps/compileDummy.jar

      - run:
        name: Dependencies
        command: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      -install: gradlew setupCiWorkspace -S -q    

      # run tests!
      - run: gradle build test
